<div id="front_page_digg">
<a id = "delicious" href="http://del.icio.us/post" onclick="window.open('http://del.icio.us/post?v=4&noui&jump=close&url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=700,height=400'); return false;"><img src="http://images.del.icio.us/static/img/delicious.small.gif" alt=""/> del.icio.us</a>	
	
<a href="http://www.stumbleupon.com/submit?url=http://www.slangasaur.us%The+Everything+Thesaurus%22"> <img border=0 src="/images/120x20_su_black.gif" alt=""></a><br />
<script type="text/javascript" src="http://www.reddit.com/button.js?t=3"></script>
<script type="text/javascript">
digg_url = 'www.slangasaur.us';
</script>
<script src="http://digg.com/tools/diggthis.js" type="text/javascript"></script>
</div><!-- every page digg -->