<div id = "horizontal_ad">
	<script type="text/javascript"><!--
	google_ad_client = "pub-9419044821517786";
	/* 468x60, created 7/28/08 */
	google_ad_slot = "2212084835";
	google_ad_width = 468;
	google_ad_height = 60;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>