&nbsp
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">
			<img alt="Creative Commons License" style="border-width:0"  src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" /></a>
			
			

<b>1. Agreement and General Terms of Use</b>

<p>1.1 This User Agreement constitutes the agreement between Richard Schneeman and you as a user who accesses or establishes a connection ("user," "you," or "your") to the world wide web site known as SLANGASAUR.US(™?) ("Site"), which is owned and controlled by Richard Schneeman.
</p>
<p>1.2 You must agree to abide by all of the provisions in this Agreement in order to remain an authorized user of the Site and your use of the Site constitutes your agreement to abide by those provisions. You are solely responsible for your use of the Site and for ensuring that your use complies fully with the provisions of this Agreement.
</p>
<p>1.3 Richard Schneeman reserves the right, in its sole discretion, to change any or all of the provisions of this Agreement at any time. Richard Schneeman will notify users of any changes by posting them on the Site or through other reasonable means of providing notice. Any changes to this Agreement will be effective immediately upon notice to you. Your use of the Site after notice of changes to this Agreement will be deemed your acceptance of the changes.
</p>
<p>1.4 Richard Schneeman reserves the right, in its sole discretion, to change, limit, or discontinue any aspect, content, or feature of the Site, as well as any aspect pertaining to the use of the Site.
</p>
<p>1.5 IF YOU DO NOT AGREE TO THE PROVISIONS OF THIS AGREEMENT OR ARE NOT SATISFIED WITH THE SITE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE YOUR USE OF THE SITE.
</p>

<b>2. User Activities and Information on the Site
</b>
<p>2.1 You will use the Site and any content, material, or information found on the Site solely for lawful, non-commercial purposes. You shall not upload to, distribute to, or otherwise disseminate through the Site any material or information of any kind that is libelous, defamatory, obscene, pornographic, abusive, or otherwise violates any law or infringes or violates any rights of any other person or entity, or contains a solicitation of funds, advertising, or a solicitation for goods or services.
</p>
<p>2.2 You warrant that any material or information that you make available through the Site, including, for example, postings to chat areas and forums, is solely your original work, or that you have all necessary rights to make the material or information of any other person or entity available on the Site. You will be solely responsible for the content of any material or information that you make available through the Site. You will also be liable for any damage resulting from making any material or information available through the Site.
</p>
<p>2.3 By making any material or information available through the Site, you automatically grant to Richard Schneeman a worldwide, royalty-free, perpetual, irrevocable, and non-exclusive right and license to use, reproduce, modify, adapt, publish, translate, distribute and sublicense any such material or information (in whole or in part) and/or to incorporate it in other works regardless of form, media, or technology. By making any material or information available through the Site, you also grant to users other than yourself the right and license to access, view, store, or reproduce your material and information for that user's personal use.
</p>
<p>2.4 Richard Schneeman has no obligation to, and does not and cannot, review every item of material or information that you and users other than yourself made available through the Site, and Richard Schneeman is not responsible for any content of this material or information. However, Richard Schneeman reserves the right to delete, move, or edit any material or information that it deems, in its sole discretion, unacceptable, libelous, defamatory, obscene, pornographic, abusive, or otherwise in violation of any law or that infringes or violates any rights of any other person or entity. Further, Richard Schneeman reserves the right at all times to disclose any material or information as necessary to satisfy any law, regulation, or governmental request.
</p>
<p>2.5 Richard Schneeman reserves the right to collect, use, and distribute demographic data about you and your use of the Site in forms that do not identify you individually or reveal your identity.
</p>

<br />
<b>3. Rights in Site Content and the Site
</b>
<p>3.1 All content provided by Richard Schneeman on the Site is protected by copyright, trademark, and other applicable intellectual property and proprietary rights laws and is owned, controlled, and/or licensed by Richard Schneeman. The Site is protected by copyright, patent, trademark, and other applicable intellectual property and proprietary rights laws and is owned, controlled, and/or licensed by Richard Schneeman. SLANGASAUR.US(™?), and Richard Schneeman® are trademarks and, where indicated, registered trademarks of Richard Schneeman or its subsidiaries. All other trademarks appearing on the Site are the property of their respective owners.
</p>
<p>3.2 You will not modify, publish, transmit, participate in the transfer or sale, create derivative works, or in any way exploit, any of the content, in whole or in part, found on the Site. You will download copyrighted content solely for your personal use, but will make no other use of the content without the express written permission of Richard Schneeman and the copyright owner. You will not make any changes to any content that you are permitted to download under this Agreement, and in particular you will not delete or alter any proprietary rights or attribution notices in any content. You agree that you do not acquire any ownership rights in any downloaded content.
</p>
<p>3.3 Certain content found on the Site may be subject to additional terms, conditions, and notices as specified in Section 11 below.
</p>

<p>4. Disclaimer of Warranties & Limitation of Liability
</p>
<p>4.1 YOU EXPRESSLY AGREE THAT USE OF THE SITE IS AT YOUR SOLE RISK. NEITHER Richard Schneeman, NOR ANY OF ITS AFFILIATES, EMPLOYEES, AGENTS, THIRD PARTY CONTENT PROVIDERS, OR LICENSORS WARRANT THAT THE SITE WILL BE UNINTERUPTED OR ERROR FREE. NOR DO THEY MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SITE, OR AS TO THE ACCURACY, RELIABILITY, COMPLETENESS, OR CONTENTS OF ANY CONTENT, INFORMATION, MATERIAL, POSTINGS, OR POSTING RESPONSES FOUND ON THE SITE, ANY MERCHANDISE OR SERVICES PROVIDED THROUGH THE SITE, OR ANY LINKS TO OTHER SITES MADE AVAILABLE ON THE SITE.
</p>
<p>4.2 THE SITE AND ALL CONTENT, MATERIAL, INFORMATION, POSTINGS, OR POSTING RESPONSES FOUND ON THE SITE ARE PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
</p>
<p>4.3 UNDER NO CIRCUMSTANCES, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE, SHALL Richard Schneeman (OR ANY OF ITS PARENTS, SUBSIDIARIES, AFFILIATES, EMPLOYEES, AGENTS, THIRD PARTY CONTENT PROVIDERS, OR LICENSORS, AND THEIR RESPECTIVE DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS), BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES THAT RESULT FROM THE USE OF, OR THE INABILITY TO USE, ANY CONTENT, INFORMATION, MATERIAL, POSTINGS, OR POSTING RESPONSES ON THE SITE OR THE SITE ITSELF. THESE LIMITATIONS APPLY REGARDLESS OF WHETHER THE PARTY LIABLE OR ALLEGEDLY LIABLE WAS ADVISED, HAD OTHER REASON TO KNOW, OR IN FACT KNEW OF THE POSSIBILITY OF SUCH DAMAGES. YOU SPECIFICALLY ACKNOWLEDGE AND AGREE THAT Richard Schneeman (AND ANY OF ITS PARENTS, SUBSIDIARIES, AFFILIATES, EMPLOYEES, AGENTS, THIRD PARTY CONTENT PROVIDERS, OR LICENSORS, AND THEIR RESPECTIVE DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS), IS NOT LIABLE FOR ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF ANY USER, INCLUDING YOU.
</p>

<b>5. Indemnification
</b>
<p>You agree to defend, indemnify and hold harmless Richard Schneeman (and any of its parents, subsidiaries, affiliates, employees, agents, third party content providers, or licensors, and their respective directors, officers, employees, and agents) from and against all claims, liability, and expenses, including attorneys' fees and legal fees and costs, arising out of your use of the Site or your breach of any provision of this Agreement. Richard Schneeman reserves the right, in its sole discretion and at its own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you. You will cooperate as fully as reasonably required in the defense of any claim.
</p>
<br />
<b>6. Fees and Payments</b>

<p>Richard Schneeman reserves the right, in its sole discretion, at any time to charge fees for access to and use of the Site, or any portions of the Site. If Richard Schneeman elects to charge fees, it will post notice on the Site of all provisions pertaining to fees and payments.
</p>
<br />
<b>7. Notices between Us</b>

<p>You will contact us by submitting your message via this form. We will contact you by sending electronic mail to the address you provide to us, or by posting a notice on the Site.
</p>
<br />
<b>8. Termination</b>

<p>Richard Schneeman may terminate this Agreement and your use of the Site at any time. Richard Schneeman shall have the right immediately to terminate your use of the Site in the event of any conduct by you which Richard Schneeman, in its sole discretion, considers to be unacceptable, or in the event of any breach by you of this Agreement.
</p>

<br />
<b>9. Law Governing Performance and Disputes</b>

<p>This Agreement, your performance under it, and any disputes arising under it shall be governed exclusively by the laws of the United States of America and the State of California, without giving effect to their conflict of laws principles. You expressly consent to the exclusive forum, jurisdiction, and venue of the Courts of the State of California and the United States District Court for the Southern District of California in any and all actions, disputes, or controversies relating to this Agreement.
</p>
<b></b>
<b>10. General Terms</b>

<p>This Agreement and any posted rules on the Site established by Richard Schneeman constitute the entire agreement of the parties with respect to the subject matter hereof. No waiver by either Richard Schneeman or you of any breach or default under this Agreement shall be deemed to be a waiver of any preceding or subsequent breach or default. This Agreement shall be binding upon and inure to the benefit of Richard Schneeman and its successors, trustees, and permitted assigns. Richard Schneeman may assign this Agreement, or any of its rights or obligations under this Agreement, with or without notice to you.
</p>

