<form action="/users/no_spam." method="get">

  <p>
    <label for="site">Web Site:</label>
    <input type="text" name="site" />
  </p>

  <p>
    <label for="email">Your Email:</label>
    <input type="text" name="email" /><br />

	<input id="no_spam" name="commit" type="submit" value="No Spam" />
  </p>
</form>