# MySQL.  Versions 4.1 and 5.0 are recommended.
#
# Install the MySQL driver:
#   gem install mysql
# On Mac OS X:
#   sudo gem install mysql -- --with-mysql-dir=/usr/local/mysql
# On Mac OS X Leopard:
#   sudo env ARCHFLAGS="-arch i386" gem install mysql -- --with-mysql-config=/usr/local/mysql/bin/mysql_config
#       This sets the ARCHFLAGSFLAGS environment variable to your native architecture
# On Windows:
#   gem install mysql
#       Choose the win32 build.
#       Install MySQL and put its /bin directory on your path.
#
# And be sure to use new-style password hashing:
#   http://dev.mysql.com/doc/refman/5.0/en/old-client.html
#    rake db:migrate RAILS_ENV=production


development:
  adapter: mysql
  encoding: utf8
  database: slangasaurus_development
  username: root

test:
  adapter: mysql
  encoding: utf8
  database: slangasaurus_test
  username: root
  
#production:
#  adapter: mysql
#  encoding: utf8
#  database: slangasaurus_development
#  username: root
    
production:
  adapter: mysql
  encoding: utf8
  database: united_dictionary_production
  username: snowmaninthesun
  password: H3lloj3d
  host: mysql.snowmaninthesun.dreamhosters.com
  port: 3306

#
#development:
#  adapter: mysql
#  encoding: utf8
#  database: Slangasaurus_development
#  username: root
#  password:
##  socket: /tmp/mysql.sock
#
## Warning: The database defined as 'test' will be erased and
## re-generated from your development database when you run 'rake'.
## Do not set this db to the same as development or production.
#test:
#  adapter: mysql
#  encoding: utf8
#  database: Slangasaurus_test
#  username: root
#  password:
##  socket: /tmp/mysql.sock
#
#production:
#  adapter: mysql
#  encoding: utf8
#  database: Slangasaurus_production
#  username: root
#  password: 
##  socket: /tmp/mysql.sock
#